@import "./Variables.scss";

.custom-button {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid $primary-color;

  &:not(.inverted) {
    background-color: white;
    color: $primary-color;

    &:hover {
      border-color: adjust-color($primary-color, $lightness: -10%);
      background-color: adjust-color($main-bgc, $lightness: -10%);
    }
  }

  &.inverted {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: adjust-color($primary-color, $lightness: -10%);
    }
  }
}
