@import "./Variables.scss";

:root {
  font: 16px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
.main {
  margin-left: 10rem;
  padding: 1rem;
  background-color: $main-bgc;
}

// Medium screens (tablets)
@media only screen and (max-width: 780px) {
  .main {
    margin-left: 3rem;
  }
  .navbar {
    width: 3rem;
    .link-text {
      display: none;
    }
  }
}

// Small screens
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .main {
    margin-left: 0;
    padding-bottom: 2rem;
  }
}
